body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
}



header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
}


main {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.order-success {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.order-success h1 {
    color: #4caf50;
}

.order-success table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.order-success table th,
.order-success table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.order-success .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.order-success .button:hover {
    background-color: #45a049;
}
